@media (min-width: 360px) and (max-width: 414px) {
    html {
        overflow-x: hidden;
        width: 95%;
    }
    body {
        width: 100%;
        overflow-x: hidden;
    }
}

.container,
.imagem {
    left: 2.7em;
}

.container,
.imagem img {
    left: 2.7em;
}

div.paragrafo-legend {
    left: 3.9em;
}